<div mat-dialog-content>
  <mat-icon class="mat-dialog__close-button" (click)="onCloseClick()">close</mat-icon>
  <div class="day-title">{{clickedDayFullDate}}</div>
  <div class="charts-title">Measurement charts</div>
  <div class="charts-container">
    <app-measurements-chart
      *ngFor="let dataset of chartDatasets"
      [dataset]="dataset"

    ></app-measurements-chart>
  </div>
  <div class="table-container">
    <app-measurements-table
      [clickedDay]="clickedDay"
    ></app-measurements-table>
  </div>
</div>
