.header-container {
  margin: 0 auto;
  background-color: var(--secondary-color);

  .logo-container {
    font-size: 2rem;

    .logo {
      margin: 1.5% 0 1.5% 3%;
      color: var(--wight-color);
      display: inline-block;
      text-decoration: none;

      .second-letter {
        color: var(--acent-color);
      }
    }
  }
}
