.header-container {
  margin: 0 auto;
  background-color: var(--secondary-color);

  .logo-container {
    font-size: 2rem;

    .logo {
      display: block;
      padding: 1.5% 0 1.5% 3%;

      .second-letter {
        color: var(--acent-color);
      }
    }
  }
}
