.table-container {
  //padding: 1rem;
  background-color: var(--background-color);
  //border: 1px solid var(--secondary-color);

  .table-title {
    color: var(--acent-color);
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
  }

  .table-day {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
  }

  .table-head {
    color: var(--light-color);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    //padding: 0 1.3rem;
    display: flex;
    justify-content: space-around;

    .head-item {
      width: calc(100%/5);
    }
  }

  .table-raw {
    background: var(--primary-color);
    font-size: 1rem;
    margin-bottom: 0.8rem;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid var(--secondary-color);
    border-radius: 0.2rem;

    .table-item {
      max-width: calc(100%/5);
    }

    .coordinates-container {
      overflow: hidden;
      display: flex;
      align-items: center;
      white-space: nowrap;

      .coordinates-icon {
        margin-right: 0.2rem;
        width: 1.4rem;
        height: 1.4rem;
        fill: var(--light-color);
      }

    }

    .time, .temperature, .pressure, .humidity, .coordinates-container {
      width: calc(100%/5);
    }

    .temperature:after {
      content: '℃';
      margin-left: 0.2em;
    }

    .pressure:after {
      content: 'hPa';
      margin-left: 0.2em;
    }

    .humidity:after {
      content: 'φ';
      margin-left: 0.2em;
    }
  }
}
