<div class="map-container">
  <ng-lottie class="lottie-loading-spinner"
             [options]="options"
  >
  </ng-lottie >

  <div *ngIf="animationComplete" class="map-wrapper">
    <div class="blend-mode-overlay"></div>
    <ya-map class="ya-map"
            [center]=center
            [zoom]="zoom"
            (ready)="onMapReady($event)"
            (boundschange)="onSizeChange($event)"
            (balloonopen)="onBalloonOpen($event)"
            (balloonclose)="onBalloonClose()"
    >
      <ya-clusterer
        [options]="clustererOptions"
        (ready)="onClustererReady($event)"
      >
        <ya-placemark
          *ngFor="let placemark of dayPlacemarks"
          [geometry]="placemark.geometry"
          [properties]="placemark.properties"
          [options]="placemark.options"
          (ready)="onPlacemarkReady($event, placemark)"
          (yaclick)="onDayPlacemarkClick($event)"
        >
          <ya-object-manager
            [options]="objectManagerOptions"
            (ready)="onObjectManagerReady($event, placemark)"
            (yaclick)="onTimePlacemarkClick($event)"
          ></ya-object-manager>
        </ya-placemark>
      </ya-clusterer>
    </ya-map>
  </div>
</div>
