<div class="calendar-container">
  <div class="calendar-header">
    <ng-template #yearSelector>
      <app-year-selector></app-year-selector>
    </ng-template>
    <app-month-selector class="month-selector"
                        *ngIf="checked; else yearSelector"
    ></app-month-selector>
    <div class="only-available-days">
      <mat-slide-toggle class="only-available-days__toggle"
                        checked="false"
                        (change)="changeToggle()"
      >Только доступные дни
      </mat-slide-toggle>
    </div>
  </div>
  <ng-template #availableDays>
    <app-only-available-days class="available-days-grid"></app-only-available-days>
  </ng-template>
  <div class="calendar-grid"
       *ngIf="checked; else availableDays"
  >
    <div class="calendar-grid-item" *ngFor="let day of calendarService.getDaysWithoutWeeks()"
        [class.calendar-grid-item_disabled]="day.disabled"
        (click)="openDialog(day.disabled, day)"
    >
      <ul class="calendar-grid-item__content">
        <li>
          <div class="date-line"
               [class.date-line_today]="day.today"
               [class.date-line_month_start]="day.monthStart"
          >
            <span>
              {{day.value | moment:'DD' }}
            </span>
            <span *ngIf="day.monthStart" class="date-line__month">
              {{day.value | moment: 'MMMM' | titlecase}}
            </span>
          </div>
        </li>
        <li class="measure-box" *ngFor="let measure of day.avgMeasurements">
          <div class="measure-box-icon" [ngClass]="{
          'measure-box-icon_temperature': calendarService.checkInstanceTemperature(measure),
          'measure-box-icon_pressure': calendarService.checkInstancePressure(measure),
          'measure-box-icon_humidity': calendarService.checkInstanceHumidity(measure)
          }"
          >
          </div>
          <div class="measure-box-text">
            <span class="measure-box-text__count">{{measure.value}}</span>
            <span class="measure-box-text__symbol">{{measure.symbol}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
