:host  {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 0 2% 2% 2%;

  .calendar-header {
    position: relative;
  }

  .calendar-grid {
    aspect-ratio: 20 / 16;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    height: 100%;
    gap: 1px;
    background: var(--secondary-color);
    min-height: 0;
    min-width: 0;

    &-item {
      outline: 1px solid #171717;
      width: 100%;
      height: 100%;
      overflow: hidden;
      min-width: 0;
      padding: 0.5rem 0.5rem;
      transition: all .2s;

      &_disabled {
        opacity: .8;
        background: var(--background-color);
        color: var(--light-color);
      }

      &:hover:not(&_disabled) {
        background: var(--selected-color);
        cursor: pointer;
      }

      &__content {
        list-style-type: none;
        padding-bottom: 8%;

        .date-line {
          font-size: 140%;
          font-weight: 500;
          padding-bottom: 8%;

          &__month {
            margin: 0 0 0 5%;
          }

          &_today {
            color: var(--acent-color);
            font-weight: bold;
          }

          &_month-start {
            font-weight: bold;
            display: inline;
          }
        }
      }
    }
  }
}







