.sidebar-container {
  display: flex;
  flex-direction: column;
  //height: 864px;
  height: 100%;
  width: 100%;
  padding-bottom: 1.4rem;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);

  .unknown-content {
    //background-color: #ADB9D8;
    height: 5%;
    margin: 10% 10% 0 10%;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 1.4rem 5.3rem 0 2rem;
    color: var(--wight-color);

    &:hover {
      color: var(--acent-color);
    }

    .item-title {
      display: inline;
      margin-left: 0.8rem;
    }
  }
}
