.page {
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  max-width: 1250px;
  height: 100vh;
  max-height: 1120px;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-width: 600px;

  .content {
    height: 100%;

    .calendar-card {
      width: 100%;
      background-color: var(--primary-color);
      color: var(--text-color);
      border-radius: 0 0 1rem 1rem;
      overflow: hidden;

      position:  relative;
      height:  calc(100% - 1.4rem);
      perspective:  1200px;
      transform-style:  preserve-3d;
    }
  }

}





