.page {
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  max-width: 1250px;
  height: 100vh;
  max-height: 1120px;
  background: var(--background-color);
  display: flex;
  flex-direction: column;

  .content {
    height: 100%;

    .calendar-card {
      width: 100%;
      //max-width: 100%;
      background-color: var(--primary-color);
      color: var(--wight-color);
      //margin: 2% 0 0 2%;
      border: 1px solid var(--secondary-color);
      overflow: hidden;

      position:  relative;
      height:  calc(100% - 1.4rem);
      perspective:  1200px;
      transform-style:  preserve-3d;
    }
  }

}

@media all and (min-width: 1300px) {
  .page {

  }
}




