<div class="selector-box">
  <button mat-icon-button aria-label="left arrow button"
          (click)="changeYear(-1)"
          [disabled]="leftPointerEnd"
  >
    <mat-icon inline=true>arrow_left</mat-icon>
  </button>
  <div class="selector-box-title">
    <span class="selector-box-title__year">{{ year.name }}</span>
  </div>
  <button mat-icon-button aria-label="right arrow button"
          (click)="changeYear(1)"
          [disabled]="rightPointerEnd"
  >
    <mat-icon inline=true>arrow_right</mat-icon>
  </button>
</div>
