.selector-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;

  &-title {
    display: flex;
    flex-direction: column;

    &__year {
      flex-direction: column;
      margin: 0 2rem;
      text-align: center;
      width: 100px;
      font-size: 1.7rem;
      font-weight: 500;
    }

  }

  button {
    &:disabled {
      color: var(--acent-color);
    }

    mat-icon {
      transform: scale(3);
    }

  }

}

