:host  {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.available-days__page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2% 2% 2%;
}

.available-days__rounded-scrollbar-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}

.available-days-box {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  padding: 0 2% 2% 2%;
  overflow: auto;
  scrollbar-color: var(--secondary-color) var(--background-color);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;

    &-track {
      background: var(--background-color);
      border-radius: 10px;
    }

    &-thumb {
      background: var(--secondary-color);
    }

    &-thumb:hover {
      background: var(--light-color);
    }
  }

  .available-days-item {
    margin-top: 2.5%;

    &__title {
      width: 50%;
      display: flex;
      justify-content: space-between;
      font-size: 2rem;
      font-weight: 500;
    }

    &__month::first-letter {
      color: var(--acent-color);
    }

    &-divider {
      margin: 1% 0 2% 0;
      display: block;
      width: 50%;
      height: 2px;
      opacity: 0.8;
      background-color: var(--text-color);

      &__footer {
        float: right;
      }
    }
  }
}

.days-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;

  &-item {
    display: flex;
    flex-direction: column;
    aspect-ratio: 16/16;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 0.5rem 0.5rem;
    transition: all .2s;

    &:hover:not(.disabled) {
      background: rgba(16, 255, 0, 0.21);
      cursor: pointer;
    }

    .date-container {
      font-size: 140%;
      font-weight: 500;
      text-align: center;
    }

    &__divider {
      margin: 4% auto 5% auto;
      display: block;
      width: 100%;
      height: 1px;
      opacity: 0.6;
      background-color: var(--acent-color);
    }

    .measure-box-container {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
    }
  }
}

