/* You can add global styles to this file, and also import other style files */

:root {
  --background-color: #e3e9f4;
  --primary-color: #f2f7ff;
  --secondary-color: #ffffff;
  --light-color: #454c5d;
  --text-color: #000000;
  --acent-color: #156efd;
  --selected-color: rgba(16, 255, 0, 0.20);

  --balloon-layout-color: #e3e9f4 !important;
  --ballon-text-color: #000000;
  --balloon-selected-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: var(--background-color);
  color: var(--text-color);

  &.dark-theme {
    --background-color: #2A3550;
    --primary-color: #35415E;
    --secondary-color: #1C2333;
    --light-color: #ADB9D8;
    --text-color: #FFFFFF;
    --acent-color: #EC4E6E;

    --balloon-layout-color: #747474 !important;
    --ballon-text-color: #f3f6ff;
    --balloon-selected-color: #b1b1b3 ;
  }
}

mat-dialog-container, mat-dialog-content {
  background-color: transparent !important;
  padding: 0 0 0 0 !important;
  overflow: hidden !important;
}

//dialog close button relative position
.cdk-overlay-pane {
  position: relative !important;
}





